
.slider {
    .container {
        max-width: 1900px;
        .slider__wrap {
            .carousel-cell {
                width: 100%; /* full width */
                height: 700px;
            }
            .item {
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                h2 {
                    @include mid;
                    color: $white-cl;
                    font-size: 30px;
                    line-height: 32px;
                }
            }
        }
    }



    @include desktop-large {
		.container {
            .slider__wrap {
                .carousel-cell {
                    height: 600px;
                }
                .item {
                    h2 {
                        font-size: 26px;
                    }
                }
            }
		}
	}
    @include desktop {
		.container {
            max-width: 1170px;
            .slider__wrap {
                .carousel-cell {
                    height: 500px;
                }
                .item {
                    h2 {
                        font-size: 26px;
                    }
                }
            }
        }
	}
	@include tablet {
		.container {
            max-width: 767px;
            .slider__wrap {
                .carousel-cell {
                    height: 400px;
                }
                .item {
                    h2 {
                        font-size: 22px;
                    }
                }
            }
        }
	}
	@include mobile {
		.container {
            .slider__wrap {
                .carousel-cell {
                    height: 300px;
                }
                .item {
                    h2 {
                        font-size: 18px;
                    }
                }
            }
        }
	}
	@include mobile-xxs {
		.container {
            .slider__wrap {
                .carousel-cell {
                    height: 250px;
                }
                .item {
                    h2 {
                        font-size: 16px;
                    }
                }
            }
        }
	}
}